$sidebar-header-color: #690800;
$sidebar-font-color: white;
$sidebar-bg-color: #505050;
$sidebar-selected-color: #383838;

$header-bg-color: white;

$body-bg-color: #444444;
$bottom-panel-bg-color: white;
$body-font-color: #686767;

$menu-hamburger-color: #f3d83f;
$menu-font-color: #383838;
$menu-hamburger-lines-color: white;
$menu-bg-color: white;

$shadow-color: #686767;

$general-light-grey:#686767; 
$general-red: #690800;
$general-white: white;
$general-yellow: #f3d83f;
$general-grey: #383838;