$sidebar-header-color: #690800;
$sidebar-font-color: white;
$sidebar-bg-color: #505050;
$seidebar-selected-color: #383838;

$body-bg-color: #444444;
$bottom-panel-bg-color: white;
$body-font-color: #686767;

$menu-hamburger-color: #f3d83f;
$menu-font-color: #383838;